@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

@font-face {
  font-family: 'Walbaum';
  src: url('../font/Walbaum60pt.ttf') format('truetype');
}
@font-face {
  font-family: 'Whispering';
  src: url('../font/WhisperingSignature.ttf') format('truetype');
}
@font-face {
  font-family: 'Walbaum-light';
  src: url('../font/Walbaum60ptLight.ttf') format('truetype');
}
body{
    background-color: #F2E8DD;
    font-family: "Poppins", sans-serif;
    text-align: center;
    width: 100%;
    color: #F5EEE6;
    height: 100%;
        
}
nav{
    font-size: 16px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 0.5rem;   
}
a,h1,h2,h3,h4,button, span{
    font-family: 'Walbaum';
}
button{
    background-color: transparent;
    cursor: pointer;
    letter-spacing: 1px;
    font-size: 18px;
    padding: 0.5rem 2rem;
    width: fit-content;
    border-radius: 3px;
}
a{
    font-size: 18px;
    text-decoration: none;
    font-weight: 400;
}
h1{
    font-size: 50px;
    letter-spacing: 7%;                                          
}
h2{
    font-size: 40px;
}
h3{
    color: #02499C;
    font-size: 35px;
    letter-spacing: 4%; 
}
h4{
    font-size: 25px;
    letter-spacing: 2px; 
}
.saveDate{
    letter-spacing: 20%; 
}
h5{
    color: #02499C;
    font-size: 18px;
}
p, label, li{  
    font-family: "Poppins", sans-serif;
    color: #02499C;
    font-size: 15px; 
    font-weight: 300;
}
header{
    width: 100%;
    height: 60vh;
    position: relative;
}
.coursive_big{
    font-family: "Whispering";
    font-size: 60px;
}
.background_img{
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
}
.header_div{
    background-color: rgb(16, 16, 16, 0.4);
    position: absolute;
    z-index: 1;
    top: 0;
    height: 100%;
}
.header_date{
    font-family: 'Walbaum';
    font-size: 40px;
    letter-spacing: 7%;     
}
.white_letters{
    color: #F5EEE6;
}
.blue_letters{
    color: #02499C;
}
.bluebg{
    background-color: #02499C;
}
.rounded_blue_cta{
    background-color: #02499C;
    border: #02499C solid 1px;
    color: white;
    padding: 0.5rem 2rem;
    border-radius: 23px;
}
.rounded_blue_cta:hover{
    background-color: white;
    color: #02499C;
    border: #02499C solid 1px;
}
input::placeholder{
    color: red;
}
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
.fade-in-element {
  opacity: 1;
  animation: fadeIn 2s ease-in-out none ;
}

@keyframes rotate{
  from { 
    opacity: 0;
    transform: rotate(150deg);
  }
  to { transform: rotate(180deg);}
}
@keyframes rotateNegative{
  from { 
    opacity: 0;
    transform: rotate(45deg);
  }
  to { transform: rotate(-5deg);}
}

.rotateAnimation {
  opacity: 1;
  transform: rotate(180deg);
  animation: rotate 2s ease-in-out none ;
}
.rotateAnimationNegative{
    opacity: 1;
    transform: rotate(-5deg);
    animation: rotateNegative 2s ease-in-out none ;
}
@media only screen and (min-width: 1024px) {
    h1{
        font-size: 60px;
    }
    h2{
        font-size: 65px;
    }
    h3{
        font-size: 43px;
        letter-spacing: 4%;
    }
    span{
        font-size: 60px;
    }
    p, li{
        font-size: 18px;
    }
    
}